@use '../abstracts' as *;

.bgCircle {
    position: absolute;
    width: 40rem;
    height: 45rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;

    & .shape {
        position: absolute;
        height: 20rem;
        width: 20rem;
        border-radius: 50%;

        &:first-child {
            top: -9rem;
            left: -9rem;
            background: linear-gradient($color_circleBlue-gradient);
        }

        &:last-child {
            bottom: -9rem;
            right: -9rem;
            background: linear-gradient($color_circleOrange-gradient);
        }
    }
}
