@use '../abstracts/' as *;

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: $fontSize-root;
    font-family: $fontFamily;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: $color_body-bg;
}

a {
	text-decoration: none;
}